*, *::before, *::after {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    :root{
    --hue-nuetral:200;
    --hue-wrong:0;
    --hue-correct:119;
    }
    
    body{
    --hue: var(--hue-nuetral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--hue),100%, 20%);
    }
    
    body.correct {
    --hue: var(--hue-correct);
    }
    
    body.wrong {
    --hue: var(--hue-wrong);
    }
    
    .container{
    width: 800px;
    max-width: 75%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    font-weight: bold;
    }
    
    .btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
    }
    
    .btn{
    --hue: var(--hue--nuetral);
    border: 2px solid hsl(var(--hue),100%,20%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-weight: bold;
    
    }
    
    .btn:hover{
    border-color: black;
    }
    
    .btn.correct{
    --hue: var(--hue-correct);
    color: black;
    }
    
    .btn.wrong{
    --hue:var(--hue-wrong);
    
    }
    
    .start-button, .next-button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    }
    
    .controls{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .hide{
    display: none;
    }